USE [master]
GO
/****** Object:  Database [PROD_DB_LOG]    Script Date: 2019.06.22. 12:57:25 ******/
CREATE DATABASE [PROD_DB_LOG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PROD_DB_LOG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PROD_DB_LOG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PROD_DB_LOG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PROD_DB_LOG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PROD_DB_LOG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PROD_DB_LOG]
GO
/****** Object:  Schema [METAOP]    Script Date: 2019.06.22. 12:57:25 ******/
CREATE SCHEMA [METAOP]
GO
/****** Object:  Table [METAOP].[MO_BETÖLTÉS_HIBA_LOG]    Script Date: 2019.06.22. 12:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [METAOP].[MO_BETÖLTÉS_HIBA_LOG](
	[MO_BETÖLTÉS_HIBA_LOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[TÖLTŐ_ELJÁRÁS_NEVE] [varchar](50) NULL,
	[SYS_ERROR_NUMBER] [varchar](50) NULL,
	[SYS_ERROR_PROCEDURE] [varchar](50) NULL,
	[SYS_ERROR_LINE] [varchar](5) NULL,
	[SYS_ERROR_MESSAGE] [varchar](max) NULL,
	[BEKERÜLÉS_DÁTUMA] [datetime] NULL,
	[VÁLTOZTATÁS_DÁTUMA] [datetime] NULL,
	[BETÖLTŐ_SZEMÉLY] [varchar](50) NULL,
	[LOG_KULCS] [varchar](50) NULL,
 CONSTRAINT [PK_MO_BETÖLTÉS_HIBA_LOG] PRIMARY KEY CLUSTERED 
(
	[MO_BETÖLTÉS_HIBA_LOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [METAOP].[MO_BETÖLTÉS_LOG]    Script Date: 2019.06.22. 12:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [METAOP].[MO_BETÖLTÉS_LOG](
	[MO_BETÖLTÉS_LOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[TÖLTŐ_ELJÁRÁS_NEVE] [varchar](50) NULL,
	[LOG_ÜZENET] [varchar](5000) NULL,
	[BEKERÜLÉS_DÁTUMA] [datetime] NULL,
	[VÁLTOZTATÁS_DÁTUMA] [datetime] NULL,
	[BETÖLTŐ_SZEMÉLY] [varchar](50) NULL,
	[LOG_KULCS] [varchar](50) NULL,
 CONSTRAINT [PK_[MO_BETÖLTÉS_LOG] PRIMARY KEY CLUSTERED 
(
	[MO_BETÖLTÉS_LOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Log_Kulcs]    Script Date: 2019.06.22. 12:57:26 ******/
CREATE NONCLUSTERED INDEX [IX_Log_Kulcs] ON [METAOP].[MO_BETÖLTÉS_HIBA_LOG]
(
	[LOG_KULCS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Log_Kulcs]    Script Date: 2019.06.22. 12:57:26 ******/
CREATE NONCLUSTERED INDEX [IX_Log_Kulcs] ON [METAOP].[MO_BETÖLTÉS_LOG]
(
	[LOG_KULCS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [METAOP].[MO_BETÖLTÉS_HIBA_LOG] ADD  CONSTRAINT [DF_MO_BETÖLTÉS_HIBA_LOG_BEKERÜLÉS_DÁTUMA]  DEFAULT (getdate()) FOR [BEKERÜLÉS_DÁTUMA]
GO
ALTER TABLE [METAOP].[MO_BETÖLTÉS_HIBA_LOG] ADD  CONSTRAINT [MO_BETÖLTÉS_HIBA_LOG_BETÖLTŐ_SZEMÉLY]  DEFAULT (suser_sname()) FOR [BETÖLTŐ_SZEMÉLY]
GO
ALTER TABLE [METAOP].[MO_BETÖLTÉS_LOG] ADD  CONSTRAINT [DF_MO_BETÖLTÉS_LOG_BEKERÜLÉS_DÁTUMA]  DEFAULT (getdate()) FOR [BEKERÜLÉS_DÁTUMA]
GO
ALTER TABLE [METAOP].[MO_BETÖLTÉS_LOG] ADD  CONSTRAINT [MO_BETÖLTÉS_LOG_BETÖLTŐ_SZEMÉLY]  DEFAULT (suser_sname()) FOR [BETÖLTŐ_SZEMÉLY]
GO
/****** Object:  Trigger [METAOP].[trg_VÁLTOZTATÁS_DÁTUMA_MO_BETÖLTÉS_HIBA_LOG]    Script Date: 2019.06.22. 12:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [METAOP].[trg_VÁLTOZTATÁS_DÁTUMA_MO_BETÖLTÉS_HIBA_LOG]
ON [METAOP].[MO_BETÖLTÉS_HIBA_LOG]
AFTER UPDATE
AS
	UPDATE [METAOP].[MO_BETÖLTÉS_HIBA_LOG]
	SET VÁLTOZTATÁS_DÁTUMA = GETDATE()
	,BETÖLTŐ_SZEMÉLY = SUSER_SNAME()
	WHERE [MO_BETÖLTÉS_HIBA_LOG_ID] IN (SELECT DISTINCT [MO_BETÖLTÉS_HIBA_LOG_ID] FROM inserted)


	
GO
ALTER TABLE [METAOP].[MO_BETÖLTÉS_HIBA_LOG] ENABLE TRIGGER [trg_VÁLTOZTATÁS_DÁTUMA_MO_BETÖLTÉS_HIBA_LOG]
GO
/****** Object:  Trigger [METAOP].[trg_VÁLTOZTATÁS_DÁTUMA_MO_BETÖLTÉS_LOG]    Script Date: 2019.06.22. 12:57:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [METAOP].[trg_VÁLTOZTATÁS_DÁTUMA_MO_BETÖLTÉS_LOG]
ON [METAOP].[MO_BETÖLTÉS_LOG]
AFTER UPDATE
AS
	UPDATE [METAOP].[MO_BETÖLTÉS_LOG]
	SET VÁLTOZTATÁS_DÁTUMA = GETDATE()
	,BETÖLTŐ_SZEMÉLY = SUSER_SNAME()
	WHERE [MO_BETÖLTÉS_LOG_ID] IN (SELECT DISTINCT [MO_BETÖLTÉS_LOG_ID] FROM inserted)


	
GO
ALTER TABLE [METAOP].[MO_BETÖLTÉS_LOG] ENABLE TRIGGER [trg_VÁLTOZTATÁS_DÁTUMA_MO_BETÖLTÉS_LOG]
GO
USE [master]
GO
